/*********
* COLORS *
**********/
$straw-gold: rgba(194, 175, 137, 1);
$murky-seagreen: rgba(129, 162, 159, 1);
$sunset-orange: rgba(255,82,82,1);
$slate-gray: rgba(76,78,75,1);

$black: rgba(0,0,0,1);
$cyan-seagreen: rgba(153,189,172,1);


$slate-gray-transparent: rgba(76,78,75,0.94);
$slate-gray-very-transparent: rgba(76,78,75,0.5);
$straw-gold-transparent: rgba(194, 175, 137, 0.94);
