@font-face{
  font-family: BebasNeueLight;
  src: url('/fonts/bebas_neue_light.otf')
}

@font-face{
  font-family: BebasNeueRegular;
  src: url('/fonts/bebas_neue_regular.otf')
}

@font-face{
  font-family: BebasNeueBold;
  src: url('/fonts/bebas_neue_bold.otf')
}

@font-face{
  font-family: MonteserratSemiBold;
  src: url('/fonts/montserrat_semi_bold.otf')
}

@font-face{
  font-family: MonteserratLight;
  src: url('/fonts/montserrat_light.otf')
}

.marquee-text-light{
  font-family: 'BebasNeueLight', "Arial Black", Gadget, sans-serif;;
  font-size: 72rem;
  letter-spacing: 2.25rem;
  line-height: 94rem;
}

.marquee-text-bold{
  font-family: 'BebasNeueBold', "Arial Black", Gadget, sans-serif;
  font-size: 72rem;
  letter-spacing: 2.25rem;
  line-height: 94rem;
}


.menu-overlay-header{
  font-family: 'BebasNeueBold', "Arial Black", Gadget, sans-serif;
  font-size: 24rem;
  letter-spacing: .75rem;
  line-height: 32rem;
  color: black;
}

.menu-overlay-contact-us{
  font-family: 'MonteserratLight', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 20rem;
  letter-spacing: 0.6rem;
  line-height: 27rem;
  color: black;
}

.menu-overlay-contact{
  font-family: 'BebasNeueBold', "Arial Black", Gadget, sans-serif;
  font-size: 24rem;
  letter-spacing: .75rem;
  line-height: 29rem;
  color: black;
}

.supporting-text{
  font-family: 'MonteserratSemiBold', "Arial Black", Gadget, sans-serif;
  font-size: 18rem;
  letter-spacing: 4rem;
  line-height: 24rem;
}

.artist-headline-text{
  font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;;
  font-size: 48rem;
  letter-spacing: 5rem;
  line-height: 58rem;
}

.artist-subtext{
  font-family: 'BebasNeueBold', Arial, Helvetica, sans-serif;;
  font-size: 24rem;
  letter-spacing: 2.5rem;
  line-height: 30rem;
}

.context-text{
  font-family: 'BebasNeueBold', Arial, Helvetica, sans-serif;;
  font-size: 18rem;
  letter-spacing: 2rem;
  line-height: 24rem;
}


.calendar-header-text{
  font-family: 'BebasNeueBold', Arial, Helvetica, sans-serif;;
  font-size: 46rem;
  letter-spacing: 0.5rem;
  line-height: 50rem;
}

.calendar-main-text{
  font-family: 'BebasNeueLight', Arial, Helvetica, sans-serif;;
  font-size: 30rem;
  letter-spacing: 2rem;
  line-height: 30rem;
  line-height: 30rem;
}

.artist-overlay-text{
  font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;;
  font-size: 24rem;
  letter-spacing: 2.5rem;
  line-height: 24rem;
}

.artist-overlay-subtext{
  font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;;
  font-size: 18rem;
  letter-spacing: 2rem;
  line-height: 24rem;
}
