html{
    font-size: 1px;
    @media all and (max-width: $mobile-breakpoint) {
        font-size: .8px;
    }
}

body{
    background-color: $slate-gray;
}

* {
    margin: 0;
    padding: 0;
    color: $straw-gold;
}

a{
    color: $straw-gold;
}

div{
    box-sizing: border-box;
}

section{
    box-sizing: border-box;
}

.hidden{
    display: none !important;
}
.show-inline-block{
    display: inline-block;;
}
.show-block{
    display: block;
}
.show-inline{
    display: inline;
}

.invisible{
    opacity: 0;
}

.visible{
    opacity: 1;
}
