//*** GRID STYLE ***//
@for $i from 1 through 12{
  .grid-large-desktop-#{$i}{
    transition: all 0.25s linear;
      width: $i / 12 * 100%;
  }
}

.grid-large-desktop-3{
  transition: all 0.25s linear;
    width: 23.75%; //allows for 1.25% left margin
}


@for $i from 1 through 12{
  .grid-desktop-#{$i}{
    transition: all 0.25s linear;
    @media #{$desktop} {
      width: $i / 12 * 100%;
    }
  }
}

.grid-desktop-4{
  transition: all 0.25s linear;
  @media #{$desktop} {
    width: 32%; //allows for 1.25% left margin
  }
}

@for $i from 1 through 12{
  .grid-tablet-#{$i}{
    transition: all 0.25s linear;
    @media #{$tablet} {
      width: $i / 12 * 100%;
    }
  }
}

.grid-tablet-6{
  transition: all 0.25s linear;
  @media #{$tablet} {
    width: 48%; //allows for 1.25% left margin
  }
}

@for $i from 1 through 12{
  .grid-mobile-#{$i}{
    transition: all 0.25s linear;
    @media #{$mobile} {
      width: $i / 12 * 100%;
    }
  }
}



