@mixin global-side-padding{
    padding-left: $global-side-padding;
    padding-right: $global-side-padding;
    @media #{$mobile} {
        padding-left: $global-side-padding-mobile;
        padding-right: $global-side-padding-mobile;
    }
}


@mixin event-info-card-aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .event-info-card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
//reference: https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/


@mixin greeting-styling{
    box-sizing: content-box;
    @include global-side-padding;
    padding-top: 5vh;
    padding-bottom: 5vh;
    max-height: 100%;
    a{
        transition: color $hover-transition-duration;
        &:hover{
            color: $cyan-seagreen;
        }
    }
}

@mixin date-picker{
    .calendar{
        cursor: default;
        width: 320px;
        padding: 5px;
        z-index: 5;
        .header{
            padding: 10px 5px 10px 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            * > {
                @extend .calendar-header-text;
            }
            .btn{
                font-family: 'BebasNeueLight';
                font-size: 30rem;
                flex-basis: 15px;
                flex-grow: 0;
                &:hover{
                    font-family: 'BebasNeueBold';
                    cursor: pointer;
                }
            }

        }

        .main-container{
            width: 100%;
            * > {
                @extend .calendar-main-text;
            }
            .days-of-the-week{
                text-align: center;
                width: 100%;
                padding: 0px 0;
                .day-of-the-week {
                    display: inline-block;
                    width: 11%;
                    margin-right: 1%;
                }
            }
            .dates-of-the-month{
                .week{
                    text-align: center;
                    width: 100%;
                    padding: 3% 0;
                    .date {
                        &:hover{
                            font-family: 'BebasNeueBold';
                            cursor: pointer;
                        }
                        &.disabled{
                            color: gray;
                            opacity: 0.4;
                            &:hover{
                                font-family: 'BebasNeueLight';
                                cursor: default;
                            }
                        }
                        &.today{
                            color: $cyan-seagreen;
                            opacity: 0.5;
                        }
                        display: inline-block;
                        width: 11%;
                        margin-right: 1%;
                        color: black;
                        font-size: 30rem;
                    }
                }
            }
        }

    }
}
