$mobile-breakpoint: 767px;
$tablet-breakpoint: 1023px;
$desktop-breakpoint: 1440px;

$mobile: "(max-width: 767px)";
$tablet: "(max-width: 1023px)";
$desktop: "(max-width: 1440px)";

$hover-transition-duration: 0.5s;
$svg-icon-height: 46px;
$svg-menu-icon-height: 56px;

$mobile-svg-icon-height: 30px;
$mobile-svg-menu-icon-height: 36px;

$artist-overlay-icon-height: 38px;

$listen-to-artists-footer-height: 80px;
$artist-card-side-margin: 20px;

$global-side-padding: 25px;
$global-side-padding-mobile: 15px;
