$larger-width-percentage: 66%;
$row-height-percentage: 46%;

.transition.ng-hide{
  opacity:0;
}

.transition.ng-hide-add, .transition.ng-hide-remove{
    transition:0.25s linear all;
}

.artist-overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: $straw-gold-transparent;

    z-index:20;
    padding: 40px;
    padding: 20px;

    width: 100%;
    height: 100%;

    text-align: center;

    .artist-overlay-wrapper{  //table container
        width: 100%;
        height: 100%;
        display: block;
        overflow-y: scroll;


        .table-container{
            width: 100%;
            height: 100%;
            display: table;

            .table-cell-container{
                display: table-cell;
                vertical-align: middle;

                .artist-overlay-content-box{
                    border: solid black 2px;
                    position: relative;
                    max-width: 1285px;
                    text-align: left;
                    display: inline-block;

                    *{
                        color: $slate-gray;
                    }

                    a{
                        text-decoration: none;
                        &:hover{
                            text-decoration: underline;
                        }
                    }

                    .x-button{
                        position: absolute;
                        top:6px;
                        right: 6px;
                        z-index: 10;
                        .icon svg{
                            height: $artist-overlay-icon-height;
                        }
                        &:hover{
                            cursor: pointer;
                            .icon svg{
                                fill: $slate-gray;
                            }
                            .icon{
                                color: $slate-gray;
                            }
                        }
                    }

                    .top-row{
                        border-bottom: solid black 1px;
                        overflow: hidden;
                        display: flex;

                        @media all and (max-width: $tablet-breakpoint) {
                            flex-wrap: wrap;
                        }
                        .headliner-image-container{
                            width: 300px;
                            border-right: 1px solid black;
                            background-color: rgba(76,78,75,0.4);
                            background-size: cover;
                            background-position: center top;

                            @media all and (max-width: $tablet-breakpoint) {
                                min-height: 350px;
                                width: 100%;
                                border-right: none;
                            }
                        }
                        .event-details{
                            @extend .artist-overlay-text;
                            padding-top: 20px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            border-left: 1px solid black;
                            padding-right: 20px;
                            @media all and (max-width: $tablet-breakpoint) {
                                border-left: none;
                            }

                            .icon{
                                margin-right: 15px;
                            }

                            .event-detail{
                                display: flex;
                                align-items: center;
                                color: $slate-gray;

                                margin-bottom: 15px;
                                margin-left: 15px;

                                .icon svg{
                                    height: $artist-overlay-icon-height;
                                    fill: $sunset-orange;
                                }

                                .icon svg g{
                                    height: $artist-overlay-icon-height;
                                    fill: $sunset-orange;
                                }

                                &.artist{
                                    padding-right: $artist-overlay-icon-height;
                                }

                                .performing-artists{
                                    width:83%;
                                    .supporting-artists{
                                        *{
                                            @extend .artist-overlay-subtext;
                                            float: left;
                                        }
                                        .supporting-artist{
                                            margin-right: 5px;
                                        }
                                        .bullet-separator{
                                            margin-right: 5px;
                                        }
                                    }
                                }


                                .shm-gps-marker{
                                    margin-top: -5px;
                                }
                                .venue{
                                    margin-top: 5px;
                                    .supporting-info{
                                        @extend .artist-overlay-subtext;
                                    }
                                }
                            }

                        }
                    }

                    .bottom-row{
                        border-top: solid black 1px;
                        overflow: hidden;
                        display: flex;
                        @media all and (max-width: $tablet-breakpoint) {
                            flex-wrap: wrap;
                            flex-direction: column;
                        }

                        .left-side-container{
                            border-right: 2px solid black;
                            height: 100%;
                            min-width: $larger-width-percentage;
                            padding: 15px;
                            flex: 3;
                            @media all and (max-width: $tablet-breakpoint) {
                                width: 100%;
                                border-bottom: 2px solid black;
                                border-right: none;
                                flex: 1;
                            }

                            .related-artists-title{
                                @extend .supporting-text;
                                color:$sunset-orange;
                                margin-bottom: 20px;
                            }
                            .related-artists-list{
                                height: 87%; //height of the container, minus container height padding
                                display: flex;
                                flex-direction: column;
                                justify-content: space-around;
                                @extend .supporting-text;

                                .related-artist{
                                    display: flex;
                                    align-items: center;
                                    margin-bottom: 20px;
                                    .related-artist-image{
                                        background-repeat: no-repeat;
                                        background-size: 100% 100%;
                                        height: 50px;
                                        width: 50px;
                                        border-radius: 50px;
                                        display: inline-block;
                                    }
                                    .related-artist-name{
                                        margin-left: 20px;
                                    }
                                }
                            }

                        }
                        .right-side-container{
                            flex: 1.5;
                            @extend .supporting-text;
                            color: $sunset-orange;
                            @media all and (max-width: $tablet-breakpoint) {
                                flex: 1;
                                height: 300px;
                                width: 100%;
                            }
                            .question-mark-marker{
                                font-size: 40px;
                                color: $sunset-orange;
                                @extend .artist-overlay-text;
                            }

                        }
                    }

                    .add-to-playlist-footer{
                        height: 100% - $row-height-percentage*2;
                        border-top: solid black 2px;
                        background-color: $slate-gray;
                        overflow-y: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 10px 0;
                        &:hover{
                            cursor: pointer !important;
                            .shm-play-button svg{
                                fill: $cyan-seagreen;
                            }
                            .play-button-label{
                                color: $cyan-seagreen;
                            }
                        }

                        .shm-play-button{
                            display: inline-block;
                            svg{
                                fill: black;
                                height:$svg-icon-height *0.8;
                                width: auto;
                                transition: fill $hover-transition-duration;
                            }
                        }
                        .play-button-label{
                            @extend .supporting-text;
                            margin-left: 10px;
                            transition: color $hover-transition-duration;
                            color: black;

                        }
                    }
                }
            }
        }
    }
}
