.listen-to-artists{
    @extend .supporting-text;
    height: $listen-to-artists-footer-height;
    width: 100%;
    z-index: 1;

    @include global-side-padding;

    background-color: $slate-gray-transparent;
    box-sizing: border-box;

    position: fixed;
    bottom: 0;
    right: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    .label{
        display: inline;
        margin-left: 10px;
        transition: color 1s;
    }

    .icon{
        display: inline-block;
        vertical-align: middle;
    }

    .listen-to-selected-artists-container{
        display: inline-block;
        text-align: center;
        opacity: 1;

        .shm-play-button svg{
            fill: $cyan-seagreen;
        }
        .play-button.label{
            color: $cyan-seagreen;
        }

        &:hover{
            cursor: pointer !important;
        }

        .shm-play-button{
            svg{
                height: 28px;
                width: auto;
                transition: fill $hover-transition-duration;
            }
        }
    }
}

.listen-to-artists{
    .listen-to-selected-artists-container.disabled{
        opacity: 0.40;
        &:hover{
            cursor:none;
            pointer-events: none;
        }
    }

    .select-all-container.disabled{
        opacity: 0.40;
        &:hover{
            cursor:none;
            pointer-events: none;
        }
    }
}
