.marquee{
    background: linear-gradient(to right, $murky-seagreen, $slate-gray);
    @extend .marquee-text-light;

    .greeting{
        @include greeting-styling;
        .mobile.line{
            @extend .marquee-text-light;
        }
        @media all and (max-width: $tablet-breakpoint) {
            .mobile.line{
                display: inline-block;
            }
            display:block;
            text-align: center;
            input{
                text-align: center;
            }
            ::placeholder{
                text-align: center;
            }
            @include greeting-styling;
        }
        .date-selector{
            display: inline-block;
            .conjunction-text{
                @extend .marquee-text-light;
            }
        }
    }

    .date-selector{
        .dropdown {
            position: relative;
            display: inline-block;

            .dropbtn {
                text-decoration: underline;
                cursor: pointer;
                @extend .marquee-text-bold;
            }

            .dropdown-content {
                position: absolute;
                background-color: $slate-gray;
                color: $straw-gold;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                cursor: pointer;
                padding: 2px;
                z-index: 10;

                .hide{
                    display: none;
                }
                &:hover{
                    .option{
                        transition: margin-left $hover-transition-duration;
                    }
                    .option:hover{
                        font-weight: bold;
                        margin-left: 30px;
                    }
                }
                @include date-picker;
            }
        }
    }

    .location-selector{
        font-size: 72rem;
        .dropdown {
            position: relative;
            display: inline-block;
            display: inline;

            .location-input{
                text-decoration: underline;
                cursor: pointer;
                @extend .marquee-text-bold;
                border: none;
                background-color: transparent;
                display: inline;
                text-decoration: underline;
                width: auto;
                cursor: pointer;
                width: 90%;

                &::placeholder{
                    color: $straw-gold;
                    text-decoration: underline;
                    opacity: 1;
                    @extend .marquee-text-light;
                }

                &:focus{
                    cursor: text;
                    outline: 0 solid transparent;
                    opacity: 0.45;
                    font-family: 'BebasNeueLight';
                    text-decoration: underline;
                }
            }

            .dropdown-content {
                position: absolute;
                left: 0;
                top: 120%;
                background-color: $slate-gray;
                color: $straw-gold;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                cursor: pointer;
                padding: 2px;
                z-index: 10;
                width: 600px;
                max-width: 100%;

                .option{
                    @extend .marquee-text-light;
                    transition: margin-left $hover-transition-duration;
                }
                .option:hover{
                    font-weight: bold;
                    margin-left: 30px;
                }

                .hide{
                    display: none;
                }
                &:hover{
                    .option{
                        transition: margin-left $hover-transition-duration;
                    }
                    .option:hover{
                        font-weight: bold;
                        margin-left: 30px;
                    }
                }
                &.disabled{
                    cursor: none;
                    pointer-events: none;
                }



            }

        }
    }


}
