.menu-overlay{
    position: absolute;;
    top: 0;
    left: 0;
    background-color: $straw-gold;
    opacity: 0.96;
    z-index: 2;
    width: 522px;
    height: auto;
    overflow-y: scroll;
    opacity: 0;
    z-index: -5;
    &.is-open{
        opacity: 0.94;
        z-index: 5;
    }

    transition: opacity 0.75s linear;

    @media #{$mobile}{
        width: 100%;
    }

    .shm-x.icon{

        margin-top: 5vh;
        margin-left: $global-side-padding;
        @media #{$mobile}{
            margin-left: $global-side-padding-mobile;
        }

        svg{
            height:$svg-menu-icon-height;
            @media #{$mobile}{
                height: $mobile-svg-menu-icon-height;
            }
            &:hover{
                fill: $slate-gray;
                cursor: pointer;
            }
        }
    }

    main{
        p{
            color: black;
            @extend .supporting-text;
        }
        height: 100%;
        padding: 0 20px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .menu-overlay-footer{
        //position: absolute;;
        //bottom: 0;
        //left: 0;
        width: 522px;
        text-align: center;
        padding-bottom: 10px;
        padding-top: 10px;

        @media #{$mobile}{
            width: 100%;
        }
        background-color: $cyan-seagreen;

        .contact-us{
            @extend .menu-overlay-contact-us;
            margin: 10px;
        }

        .contact{
            @extend .menu-overlay-contact;
            @media #{$mobile}{
                display: block;
            }
            margin: 10px;
            text-decoration: none;
            &.twitter{
                margin-left: 10px;
            }

            &:hover{
                color: $slate-gray;
                cursor: pointer;
            }
        }


    }
}
