.modal-overlay-container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: $straw-gold-transparent;

    z-index:20;
    padding: 40px;
    padding: 20px;

    width: 100%;
    height: 100%;

    .modal-overlay-wrapper{  //table container
        width: 100%;
        height: 100%;
        display: block;
        overflow-y: scroll;

        .table-container{
            width: 100%;
            height: 100%;
            display: table;

            .table-cell-container{
                display: table-cell;
                vertical-align: top;

                .modal-overlay-content-box{
                    width: 85%;
                    margin: 0 auto;
                    padding: 100px 10px;
                    .go-back{
                        position: fixed;
                        top: 3%;
                        right: 2.5%;
                        opacity: 0.5;
                        svg{
                            height: 50px;
                            fill: black;
                        }
                        &:hover{
                            cursor: pointer;
                            opacity: 1;
                            transition: opacity $hover-transition-duration;
                        }
                    }
                    .prompt{
                        font-family: 'MonteserratSemiBold';
                        font-size: 64rem;
                        line-height: 1.33;
                        color: $sunset-orange;
                        margin: 0px 10px 30px 10px;
                    }
                    .playlist-name{
                        font-family: 'BebasNeueLight';
                        padding: 5px;
                        width: 90%;
                        font-size: 50rem;
                        color: $sunset-orange;
                        &::placeholder{
                            color: $slate-gray-very-transparent;
                        }
                        &:focus{
                            &::placeholder{
                                color: $sunset-orange;
                            }
                        }
                        @media all and (max-width: $mobile-breakpoint) {
                            font-size: 32rem;
                            width: 100%;
                        }
                    }
                    .listen-to-artists{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $slate-gray-transparent;


                        &:hover{
                            cursor: pointer !important;
                            .shm-play-button svg{
                                fill: $sunset-orange;
                            }
                            .play-button.label{
                                color: $sunset-orange;
                            }
                        }

                        .shm-play-button{
                            svg{
                                height: 28px;
                                width: auto;
                                fill: $straw-gold;
                                transition: fill $hover-transition-duration;
                            }
                        }
                    }

                }
            }
        }
    }
}
