.search-results{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .event-info-card-container{
        @include event-info-card-aspect-ratio(1, 1);
        margin-bottom: 20px;
        border: solid 2px black;
        margin-right: 1.25%;
        max-width: 600px;
        .event-info-card{
            display: flex;

            .event-details{
                width: 87%;
                position: relative;
                display: flex;
                overflow: hidden;
                .event-details-container{
                    * {
                        text-align: center;
                    }
                    height: 100%;
                    width: 100%;
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-shadow: 0px 0px 10px #2a332f;
                    padding: 20px 7px;

                    .detail.artist-name{
                        @extend .artist-headline-text;
                        letter-spacing:2px;
                        margin-bottom: 20px;
                        z-index: 1;
                    }
                    .detail{
                        @extend .artist-subtext;
                    }
                }
                .background-image-container{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-color: rgba(109, 126, 117, 1);
                    transition: all 0.75s;
                    opacity: 0.09;
                    transform: scale(1,1);
                    z-index: 0;

                }
                &:hover{
                    cursor: pointer;
                    .detail{
                        z-index:1;
                    }
                    .background-image-container{
                        opacity: 0.25;
                        transform: scale(1.035,1.035);
                    }
                }
            }

            .actions{
                width: 13%;
                height: 100%;
                border-left: solid 2px black;
                @extend .supporting-text;
                .add-to-playlist-checkmark{
                    height: 18%;
                    border-bottom: 2px solid black;
                    text-align: center;
                    position: relative;
                    .checkmark-container{
                        height: 100%;
                        display:flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        .tooltip-text{
                            font-family: 'MonteserratSemiBold';
                            font-size: 11px;
                            height: 15px;
                            letter-spacing: 2px;
                            line-height: 15px;
                            background-color: #3d3d3d;
                            color: $straw-gold;
                            text-align: center;
                            border-radius: 6px;
                            position: absolute;
                            top: -19px;
                            right: -0;
                            z-index: 1;
                            opacity: 0;
                            width: 130px;
                        }
                        svg{
                            g{
                                fill: #353634;
                                transition: fill $hover-transition-duration;
                            }
                        }
                        &:hover{
                            cursor: pointer;
                            svg{
                                g{
                                    fill: black;
                                }
                            }
                            .tooltip-text{
                                opacity: 0.75;
                                transition: opacity $hover-transition-duration;

                            }
                        }
                    }
                    &.not-available-on-spotify{
                        .checkmark-container{
                            svg{
                                opacity: 0.5;
                                g{
                                    fill: #6c6d64;
                                }
                            }
                            .tooltip-text{
                                width: 240px;
                            }
                            &:hover{
                                cursor: default;
                            }
                        }

                    }
                    &.selected{
                        .checkmark-container{
                            svg{
                                g{
                                    fill: $cyan-seagreen;
                                    transition: fill 0.25s;
                                }
                            }
                            .tooltip-text{
                                opacity: 0;
                            }
                        }
                    }
                }
                .open-overlay{
                    height: 82%;
                    text-align: center;
                    .vertical-text-container{
                        height: 100%;
                        display:flex;
                        align-items: center;
                        justify-content: center;
                        .see-more-details-text{
                            transform: rotate(-90deg);
                            transform-origin: center center;
                            letter-spacing: 3px;
                            transition: color $hover-transition-duration;
                        }
                        &:hover{
                            cursor: pointer;
                            .see-more-details-text{
                                color: $cyan-seagreen;

                            }
                        }

                    }
                }

            }
        }
    }

    .spinner{
        margin: auto;
        text-align: center;
        margin-top: 50px;
        display: block;
        flex-basis: 100%;
    }

    .error-message{
        padding: 30px 0;
        text-align: left;
        width: 100%;
        opacity: 0.4;
        font-style: italic;
        @extend .supporting-text;
        color: black;
    }
}

@import "songkick-attribution";