.search-header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    .menu-container{
        position: relative;
        .icon svg{
            height:$svg-menu-icon-height;
            width: auto;
            @media #{$mobile}{
                height: $mobile-svg-menu-icon-height;
                width: $mobile-svg-menu-icon-height;
            }
            g{
                transition: fill $hover-transition-duration;
            }
        }&:hover{
            cursor: pointer;
            .icon svg g{
                fill: $cyan-seagreen;
            }
        }

        .number-of-results{
            @extend .context-text;
            margin-top: 5px;
            color: black;
            display: block;
            a{
                color: black;
            }
        }
    }

    .sort-options-container{
        display: flex;
        .subtitle{
            @extend .supporting-text;
            margin-right: 50px;
            display: inline-block;

            @media all and (max-width: $tablet-breakpoint) {
                margin-right: 10px;
            }

            @media all and (max-width: $mobile-breakpoint) {
                margin-right: 10px;
            }

            //iphone5
            @media all and (max-width: 330px) {
                width: 45px;
                margin-left: -5px;
                margin-right: 0;
            }
        }
        .sort-options{
            list-style: none;
            .sort-option{
                text-align: center;
                float: left;
                margin-right: 30px;

                @media all and (max-width: $tablet-breakpoint) {
                    margin: 0px 10px;
                }

                @media all and (max-width: $mobile-breakpoint) {
                    margin: 0px 5px;
                }

                cursor: pointer;
                &.selected{
                    .sort-option-label{
                        color:$cyan-seagreen;
                    }
                    .icon svg g{
                        fill: $cyan-seagreen;
                    }
                    .icon svg{
                        fill: $cyan-seagreen;
                    }
                }
                &:hover{
                    .sort-option-label{
                        color: $cyan-seagreen;
                    }
                    .icon svg{
                        fill: $cyan-seagreen;
                    }
                }

                &.coming-soon {
                    position: relative;
                    .icon svg{
                        fill: #6c6d64;
                    }
                    .sort-option-label{
                        color: #6c6d64;
                    }
                    &:hover{
                        ::after{
                            content: 'coming soon!';
                            color: white;
                            z-index: 100;
                            position: absolute;
                            top:15px;
                            left: -3px;
                            @extend .context-text;

                        }
                    }
                }
                //unselected
                .sort-option-label{
                    display: block;
                    color: $straw-gold;
                    transition: color $hover-transition-duration;
                    margin-top: 5px;
                    @extend .context-text;
                }
                .icon svg{
                    fill: $straw-gold;
                    height: $svg-icon-height;
                    @media all and (max-width: $mobile-breakpoint) {
                        height: $mobile-svg-icon-height;
                    }
                    transition: fill $hover-transition-duration;
                    }
            }
        }
    }
}
