@import 'marquee';

.search-container{
    position: relative;
    background-color: $slate-gray;
    @include global-side-padding;
    padding-top: 5vh;
    padding-bottom: $listen-to-artists-footer-height;
    @import 'search-results-header';
    @import 'search-results-section';
    @import 'menu-overlay';
}

@import 'listen-to-selected-artists-footer';
@import 'artist-overlay';
@import 'name-playlist-modal';
